body {
  background-image: url("../images/Background1.gif");
  background-position: center;
  background-color: rgba(0, 0, 0, 0.89);
  background-blend-mode: overlay;
}
b{
  color: gold;
}
/* section styling */
.backgr {
  display:flex;
  align-items:center;
  justify-content:center;
  color: #fff;
  position: relative;
  word-wrap: break-word;
}
.ctr{
  
  text-align: center;
}
.backgr img {
    width: 100%;
    height: auto;
  }
.backgr h1 {
  font-size: 5vh;
  width: 100%;
    height: auto;
}
.backgr p {
  font-size: larger;
  line-height: 1.5;
  width: 100%;
    height: auto;
}
.btn-align{
  display:flex;
}
/* buttons styling */

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
       -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #e74c3c;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  font-weight:bold;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.third {
  border-color: gold;
  color: black;
  text-shadow: 0.5px 0.3px #000;
  background: gold;
  transition: all 150ms ease-in-out;
}
.third:hover {
  background: none;
}

.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-position: 100%;
  background-size: 400%;
  transition: 100ms ease-in-out;
}
.fourth:hover {
  background: gold;
  color: black;
  background-position: 0;
}
