body {
    background-image: url("../images/Background1.gif");
    background-position: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.89);
    background-blend-mode: overlay;
  }
  b{
    color: limegreen;
  }
  /* section styling */
  .backgr {
    display:flex;
    align-items:center;
    justify-content:center;
    color: #fff;
    position: relative;
    word-wrap: break-word;
  }
  .ctr{
    text-align: center;
  }
  .backgr img {
      width: 50%;
      height: auto;
    }
  .backgr h1 {
    font-size: 5vh;
    width: 100%;
      height: auto;
  }
  .backgr p {
    font-size: larger;
    line-height: 1.5;
    width: 100%;
      height: auto;
  }
  .btn-align{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-right: 20px;
  }
  /* buttons styling */
  
  .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
         -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 1px solid #e74c3c;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    font-weight:bold;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
  .third {
    border-color: green;
    color: aliceblue;
    background-image: linear-gradient(to right, green, rgb(1, 45, 1));
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    background: none;
    color: lime;
  }
  
  .fourth {
    border-color: green;
    color: #fff;
    background-position: 100%;
    background-size: 400%;
    transition: 100ms ease-in-out;
  }
  .fourth:hover {
    background-image: linear-gradient(to right, green, rgb(1, 45, 1));
    color: floralwhite;
    background-position: 100%;
  }
  