@charset "utf-8";
/* CSS Document */
html{
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.section {
  width: 100%;
  height: 30vh;
  position: relative;
}



/* nav bar start */

nav {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.548);
  padding: 0px 5%;
}
nav ul {
  display: flex;
  position: relative;
}
.toggle {
  display: none;
}

nav ul li a {
  width: 100%;
  margin: 30px;
  font-family: myriad pro regular;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}
nav ul li a:hover {
  margin: 30px;
  font-family: myriad pro regular;
  color: #ff0000;
  font-size: 15px;
  font-weight: 700;
}
.sticky {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}
.logo {
  font-family: RoadTest;
  color: #ffffff;
  font-size: 22px;
}
.logo b {
  font-family: RoadTest;
  color: #ff0000;
  font-size: 22px;
}
.active {
  color: #2d2a2a;
  font-weight: bold;
}
/* nav bar ends */



/* about section starts */
.about-container {
  width: 80%;
  height: fit-content;
  background: #000000;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.about-container img {
    margin: 20px;
  height: 550px;
  width: 650px;
  border-radius: 15px;
  box-shadow: 2px 5px 15px rgb(255, 255, 255);
}
.about-text {
  width: 500px;
  text-align: center;
}
.about-text p:nth-child(1) {
  color: #ffffff;
  margin-top: 1.9em;
  font-family: myriad pro;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 0px;
}
.about-text p:nth-child(2) {
  color: #c5c5c5;
  font-size: 1.5em;
  font-family: myriad pro;
  font-weight: bold;
  line-height: 1em;
}
.about-text p:nth-child(3) {
  color:#ffffff;
  text-align: left;
  font-family: calibri;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.about-text p:nth-child(3) i {
font-size: 18px;
font-weight: normal;
}
.about-text .about-btn{
    padding: 10px;
}
.about-text button {
  background-color: #fff;
  color: #f7f7f7;
  width: 130px;
  height: 42px;
  border-radius: 10px;
  font-family: calibri;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  background: none;
}
.about-text button:hover{
    background-color:#ffffff;
    color: rgb(0, 0, 0);
}
/* about section ends */

/* footer section starts */
footer {
  background: #111;
  padding: 15px 23px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
}
footer span a {
  color: #ff0000;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
footer span a:hover {
  color: red;
  text-decoration: underline 3px;
  transform: scale(1.2);
}
.social-icons div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;

}
.social-icons {
  display: flex;
}
.social-icons i,
.social i {
  color: #000000;
}
.social-icons div:hover {
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.social-icons div:hover i,
.social div:hover i {
  color: #ff0000;
  transition: all ease 0.5s;
}

.copyright {
  color: #565555;
  font-size: 12px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.social {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  z-index: 100;
}
.social div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  background-color: #000000;
  border: 1px solid #1d1d1d;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);

}
.social div:hover {
  background-color: #000000;
  transition: all ease 0.5s;

}
.social i {
  font-size: 20px;
  color: #f8f8f8;
}
/* foorer section ends */
/* responsive section */
@media (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }
  .about-container,
  .contact-container {
    width: 90%;
    border-radius: 10px;
  }
  .about-container img {
    height: 200px;
    width: 90%;
  }

  .about-text,
  .contact-text {
    width: 400px;
  }
  .about-text p:nth-child(1) {
    font-size: 1.9em;
  }
  .about-text p:nth-child(2) {
    font-size: 1.5em;
  }

  .about-text p:nth-child(3),
  .about-text p:nth-child(4) {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  section {
    height: 95px;
    background-image: none;
    background-color: #f7f7f7;
  }
  .toggle {
    display: block;
  }
  nav ul {
    margin: 0px;
    padding: 0px;
    background-color: silver;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 199;
    display: none;
  }
  nav ul li {
    padding: 10px;
  }
  nav ul li a {
    font-family: calibri;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #282828;
  }
  nav ul li a:hover {
    color: #121212;
  }

  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 30px;
    z-index: 200;
  }
  .toggle.active:before {
    content: "\f00d";
    position: fixed;
    right: 25px;
    line-height: 0px;
  }
  nav.active ul {
    display: flex !important;
  }
  .about-container{
    top: 0px;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 30px 0px;
    align-items: center;
  }
  .about-text{
    width: 90%;
    text-align: center;
  }

  footer p:nth-child(2) {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .row {
    width: 100%;
    margin-top: 0;
    align-items: center;
    margin: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 18px;
  }
  input[type="submit"] {
    width: 90%;
    font-size: 18px;
    align-items: center;
  }
  
}
/* responsive section ends */